html,
body {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  height: 100%;
}

#id_username, #id_password, #id_password1, #id_password2 {
  border-radius: 6px;
  border: 2px solid;
}

#id_password {
  margin-left: 25px;
}
