html,
body {
    background-image: url("../img/login-bg.png");
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    height: 100%;
    
}

#id_username, #id_password, #id_password1, #id_password2 {
    border-radius: 6px;
    border: 2px solid;
}

#id_password {
    margin-left: 25px;
}

// #id_username {
//     margin-left: 20px;
// }