{% extends 'registration/registration-base.html' %}

{% block content %}
<div class="mt-5 signup-form" align="center">
  <h2 class="mb-3">Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Sign up</button>
  </form>
</div>

<div class="mt-5" align="center">
  <h3>Already have an account?</h3>
  <a class="btn btn-primary" type="button" href="/accounts/login/">Log in</a>
</div>

{% endblock %}