{% extends 'base.html' %}  
  
{% block content %}
<div class="row w-100">
    <div class="col-md-4">
        <h1 class="mt-5 text-center">Caught: <strong>{{ pokemon_caught }}</strong> Pokemon</h1>
    </div>
    <div class="col-md-4">
        <h1 class="mt-5 text-center">Missing: <strong>{{ pokemon_missing }}</strong> Pokemon</h1>
    </div>
    <div class="col-md-4">
        <h1 class="mt-5 text-center">Percent Caught: <strong>{{ percent_caught }}%</strong></h1>
    </div>
</div>
<div id="tester" class="container d-flex align-items-center justify-content-center mt-5">
</div>

<script>
   var data = [{
      values: ["{{ pokemon_caught }}", "{{ pokemon_missing }}"],
      labels: ['Caught', 'Missing'],
      type: 'pie',
      marker: {
         colors: ['#38b800','#dd0000']
      }
   }];

   var layout = {
      height: 400,
      width: 500,
      paper_bgcolor: 'lightblue',
      showlegend: false,
      hoverlabel: {
         bgcolor: 'black'
      }
   };

   Plotly.newPlot('tester', data, layout);

   console.log("{{ request }}");

</script>

{% endblock content %}