<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokemon Checkbox</title>   
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <h1>Pokemon Checklist</h1>
    <h3>Generation 1 Pokemon</h3>
    <form>
        {% for i in name %}
            <input type="checkbox" id="{{ i.pokemon_species.name }}" name="{{ i.pokemon_species.name }}" value="{{ i.pokemon_species.name }}">
            <label for="{{ i.pokemon_species.name }}"> {{ i.pokemon_species.name }}</label><br><br>
        {% endfor %}
        <input  class="btn btn-primary" type="submit" value="Submit">
    </form>
</body>
</html>