<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokemon Checklist</title>   
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <h1 class="mt-5 mb-5 text-center">Pokemon Checklist</h1>
    <h3 class="mb-5 text-center">Gen 1 (Kanto)</h3>
    <form action = "/thank-you/" method = "post">
        {% csrf_token %}
        <div class="row w-100">
            {% for i in details %}
                <div class="col-md-3 justify-content-center">
                    <div class="poke-container bg-color-{{ i.color }}">
                        <div class="row pt-2">
                            <img style="width:150px;" class="mx-auto" src="../static/img/{{ i.name }}.webp">
                        </div>
                        <div class="row">
                            <div class="col-4" align="center">
                                <input class="poke-checkbox" type="checkbox" id="{{ i.name }}" name="pokemon" value="{{ i.name }}">
                            </div>
                            <div class="col-8" align="left">
                                <label style="padding-left: 5%;" class="text-capitalize" for="{{ i.name }}"> {{ i.name }}</label><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <input  class="btn btn-lg btn-primary" type="submit" value="Submit">
        </div>
    </form>
</body>
</html>